<header>
    <nav>
        <a href = "home.html">Home</a>
        <a href = "contact. html"> Contact</a>
    </nav>
</header>
<main>
    <h1> An HTML project</h1>
    <p>
        Im learning HTML. This is the first step to becoming a full stack dev. By the end of this week i will have built my first application
    </p>
    <p>
        My favorite search engine is <a href="https: / / duckduckgo.com">DuckDuckGo</a>
    </p>
    <div>
        <div>Box 1</div>
        <div> Box 2</div>
        <div> Box 3</div>
        <div>Box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div> i like grapes</div>
</footer>








</main>
